<section>
  <ion-grid class="ion-text-center payment_details">
    <ion-row>
      <ion-col class="ion-margin">
        <ion-text color="success" class="status-text ion-margin">KYC Verification
          successful
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-img class="ion-text-center" src="../../assets/sucess.svg"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>
          The admin has verified your details. You can now use your account.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button class="sucess_btn" expand="block" routerLink="/homepage">Done</ion-button>
</section>