<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start" class="ion-margin-end">
      <ion-back-button
        default-href="home"
        routerLink="/login"
      ></ion-back-button>
    </ion-buttons>
    <ion-text class="ion-text-center heading">Creat new password</ion-text>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-margin">
        <ion-text id="message">
          You new password must be different form previos used passwords.
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-margin">
        <form>
          <div class="password_blocks">
            <ion-label> Password </ion-label>
            <ion-input class="ion-margin-bottom"> </ion-input>
            <ion-text>Must be at least 6 characters.</ion-text>
          </div>
          <div class="password_blocks"> 
            <ion-label> Confirm Password </ion-label>
            <ion-input class="ion-margin-bottom"> </ion-input>
            <ion-text >Both passwords must match.</ion-text>
          </div>
        </form>
        <ion-button  expand="block"
        fill="solid"
        size="large"
        color="success" class="ion-text-center ion-margin-top resetPass" routerLink="/reset-password">Reset Password  </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
