<section>
  <ion-grid class="ion-text-center payment_details">
    <ion-row>
      <ion-col class="ion-margin">
        <ion-text color="success" class="status-text ion-margin">PAN Verification
          successful
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-img class="ion-text-center" src="../../assets/failed.svg"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p>
          The admin has rejected your details. You have re send the details.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button class="sucess_btn" expand="block" (click)="resetCurrentApproval()">Resend</ion-button>
</section>