<app-header pageName="Payment Detail" [backButton]="true" backUrl="../homepage"></app-header>

<ion-content>
  <div class="status">
    <img src="assets/it_logo.png" width="100" alt="">
    <ion-text [color]="paymentStatus=='error' ? 'danger' : ((paymentStatus=='started' || paymentStatus=='pending') ? 'warning' : (paymentStatus=='success' ? 'success' : (paymentStatus=='unknown' ? 'tertiary' : '')))">
      <h6>{{paymentStatus | titlecase}}</h6>
    </ion-text>
    <img src="assets/fino.jpg" width="100" alt="">
    <img src="assets/icici.jpg" width="100" alt="">
  </div>
  <div class="transactionDetail" id="printer">
    <span class="item">
      <p>From</p>
      <p color="primary">{{retailerName}}</p>
    </span>
    <span class="item">
      <p>Retailer Id</p>
      <p color="primary">{{clip(retailerId)}}</p>
      <ion-icon name="copy-outline" (click)="copy(retailerId)"></ion-icon>
    </span>
    <span class="item">
      <p>Date & Time</p>
      <p>{{date | date:'short'}}</p>
    </span>
    <span class="item" *ngIf="amount">
      <p>Amount</p>
      <p color="tertiary">&#8377;{{amount}}</p>
    </span>
    <span class="item"> 
      <p>Transaction Id</p>
      <p color="secondary">{{clip(transactionId)}}</p>
      <ion-icon name="copy-outline" (click)="copy(transactionId)"></ion-icon>
    </span>
    <span class="item">
      <p>Type</p>
      <p>
        <ion-chip color="primary" mode="ios" outline="true">
          <p *ngIf="!transactionData?.extraData?.aepsData?.transactionType">{{command | titlecase}}</p>
          <p *ngIf="transactionData?.extraData?.aepsData?.transactionType=='MS'">AEPS Mini-Statement</p>
          <p *ngIf="transactionData?.extraData?.aepsData?.transactionType=='BE'">AEPS Balance Enquiry</p>
          <p *ngIf="transactionData?.extraData?.aepsData?.transactionType=='CW'">AEPS Cash-Withdrawal</p>
          <p *ngIf="transactionData?.extraData?.aepsData?.transactionType=='M'">AEPS Aadhaar Pay</p>
        </ion-chip>
      </p>
    </span>
    <ng-container *ngIf="successData && transactionData.type == 'aeps'">
      <span class="item" *ngIf="successData.balanceamount">
        <p>Balance: </p>
        <p color="primary">{{successData.balanceamount}}</p>
      </span>
      <span class="item" *ngIf="successData.bankiin">
        <p>Bank iin: </p>
        <p color="primary">{{successData.bankiin}}</p>
        <ion-icon name="copy-outline" (click)="copy(transactionData.successData.bankiin)"></ion-icon>
      </span>
      <span class="item" *ngIf="successData.bankrrn">
        <p>Bank RRN: </p>
        <p color="primary">{{successData.bankrrn}}</p>
        <ion-icon name="copy-outline" (click)="copy(transactionData.successData.bankrrn)"></ion-icon>
      </span>
      <span class="item" *ngIf="successData.last_aadhar">
        <p>Aadhaar: </p>
        <p color="primary">********{{successData.last_aadhar}}</p>
        <ion-icon name="copy-outline" (click)="copy(transactionData.successData.last_aadhar)"></ion-icon>
      </span>
      <span class="item" *ngIf="successData.mobile">
        <p>Mobile No: </p>
        <p color="primary">{{successData.mobile}}</p>
        <ion-icon name="copy-outline" (click)="copy(transactionData.successData.balanceamount)"></ion-icon>
      </span>
      <span class="item" *ngIf="successData.clientrefno">
        <p>Reference No: </p>
        <p color="primary">{{successData.clientrefno}}</p>
        <ion-icon name="copy-outline" (click)="copy(transactionData.successData.clientrefno)"></ion-icon>
      </span>
    </ng-container>
    <ng-container *ngIf="transactionData && transactionData.successData && transactionData.type == 'recharge'">
      <span class="item"> 
        <p>Acknowledgement No.</p>
        <p color="secondary">{{transactionData.successData.ackno}}</p>
        <ion-icon name="copy-outline" (click)="copy(transactionData.successData.ackno)"></ion-icon>
      </span>
      <span class="item"> 
        <p>Operator Id</p>
        <p color="secondary">{{transactionData.successData.operatorid}}</p>
      </span>
      <span class="item"> 
        <p>Circle</p>
        <p color="secondary">{{transactionData.extraData.circle}}</p>
      </span>
      <span class="item"> 
        <p>Plan</p>
        <p color="secondary">{{transactionData.extraData.plan.desc}}</p>
      </span>
    </ng-container>
  </div>
  <div class="actions">
    <ion-button (click)="getPdf()" expand="block" fill="solid" shape="round">
      Receipt <ion-icon name="download"></ion-icon>
    </ion-button>
  </div>
</ion-content>