<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Transactions</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-wallet-history *ngFor="let history of transactions" [service]="history.type" [statement]="history.description" [date]="history.transactionTime" [money]="history.exchangeAmount" [type]="history.transactionType"></app-wallet-history>
  <ng-container *ngIf="transactions.length == 0">
    <img src="/assets/no-notification.svg" alt="No Transactions Found">
    <ion-text color="medium">
      <h2 class="ion-text-center">No Transactions Found</h2>
    </ion-text>
  </ng-container>
</ion-content>
