main {
    padding:20px;
    ion-icon{
        font-size: 60px;
    }
    text-align: center;
    .amount{
        font-size: 30px;
        color:var(--ion-color-primary);
        font-weight: bold;
    }
    .message{
        
    }
}