<app-header title="Groups"></app-header>
<ion-content>
  <ion-item lines="none">
    <button (click)="back()">
      <ion-icon name="arrow-back-outline"></ion-icon>
      Back
    </button>
  </ion-item>
  <ng-container >
    <ion-title>{{currentOwner.displayName}} Users</ion-title>
    <ion-list>
      <ion-item (click)="getOwnerUsers(user)" *ngFor="let user of currentUsers">
        <ion-label>{{user.displayName}}</ion-label>
        <ion-chip mode="ios" color="primary">{{user.access.access}}</ion-chip>
        <ion-badge mode="ios" color="primary">&#8377; {{user.totalCommission || 0}}</ion-badge>
      </ion-item>
    </ion-list>
    <ion-spinner name="crescent" color="primary" class="ion-text-center" *ngIf="loading"></ion-spinner>
  </ng-container>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="newGroupModalOpen=true">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-modal
    #modal
    [isOpen]="newGroupModalOpen"
    [initialBreakpoint]="0.75"
    [breakpoints]="[0, 0.75]"
  >
    <ng-template>
      <ion-content>
        <form [formGroup]="newGroupForm" (ngSubmit)="createGroup()">
          <ion-item>
            <ion-label position="floating"
              >Group Name <ion-text color="danger">*</ion-text></ion-label
            >
            <ion-input formControlName="name" required></ion-input>
          </ion-item>
          <ion-item>
            <ion-label position="floating"
              >Group Description
              <ion-text color="danger">*</ion-text></ion-label
            >
            <ion-input formControlName="description" required></ion-input>
          </ion-item>
          <ion-button type="submit" expand="block" fill="solid">
            Submit
          </ion-button>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
