<app-header></app-header>

<ion-content>
  <div class="container">
    <app-home-widget *ngFor="let item of items" [name]="item.name" [service]="item.service" [page]="item.page" [routerLink]="item.routerLink">
    </app-home-widget>
    <div class="inner">
      <div class="box">
        <p id="heading">Recharge And Pay Bills</p>
        <div class="icon-container">
          <div class="round-icons" routerLink="../dth-recharge">
            <img src="assets/cable.png" alt="">
            <p id="subtitle">Cable/DTH</p>
          </div>
          <div class="round-icons" routerLink="../gas-bill-pay">
            <img src="assets/gas.png" alt="">
            <p id="subtitle">LPG Gas</p>
          </div>
          <div class="round-icons" routerLink="../mobile-recharge">
            <img src="assets/mobile.png" alt="">
            <p id="subtitle">Recharge</p>
          </div>
          <div class="round-icons" id="fastag" routerLink="../fast-tag-recharge">
            <img src="assets/fastag.png" alt="">
            <p id="subtitle">FASTag<br>Recharge</p>
          </div>
        </div>
      </div>
    </div>
    <div class="inner">
      <div class="box">
        <p id="heading">Promotions</p>
        <div class="icon-container">
          <div class="round-icons"  routerLink="../rewards">
            <img src="assets/reward.png" alt="">
            <p id="subtitle">Reward</p>
          </div>
          <div class="round-icons">
            <img src="assets/offer.png" alt="">
            <p id="subtitle">Offer</p>
          </div>
          <div class="round-icons">
            <img src="assets/invite.png" alt="">
            <p id="subtitle">Invite</p>
          </div>
          <img src="assets/promotions.png" alt="" id="promotions">
        </div>
      </div>
    </div>
    <div class="inner">
      <div class="box">
        <p id="heading">Check Balance</p>
        <div class="view" style="cursor: pointer;" routerLink="../view-balance">
          <p>View Balance</p>
          <p>></p>
        </div>

      </div>
    </div>
  </div>
</ion-content>
<app-footer></app-footer>