<ion-header>
  <ion-toolbar>
    <ion-back-button *ngIf="backButton" slot="start" [defaultHref]="backUrl" (click)="goBack()"></ion-back-button>
    <ion-avatar slot="start" routerLink="/profile" *ngIf="dataProvider.loggedIn && !onlyTitle">
      <img [src]="dataProvider.userData?.photoURL" referrerPolicy="no-referrer"/>
    </ion-avatar>
    <ion-title color="light" slot="start">{{pageName}}</ion-title>
    <ion-buttons slot="primary" *ngIf="!backButton && !onlyTitle">
      <ion-icon name="qr-code-outline" routerLink="../qr-scan"></ion-icon>
      <ion-icon name="notifications" routerLink="../notifications"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
