* {
    font-family: "Poppins", sans-serif;
  }
  
  ion-content {
    --padding: 1.5em;
    --padding-top: var(--padding);
    --padding-end: var(--padding);
    --padding-bottom: var(--padding);
    --padding-start: var(--padding);
    text-align: center;

    img {
      width: 30%;
    }
  
    h1 {
      font-size: 1.5rem;
    }
  
    form {
      margin-top: 1.5em;
  
      ion-label {
        font-family: "Poppins", sans-serif;
      }
  
      ion-input {
        font-size: 1.1rem;
      }
  
      ion-button {
        margin-top: 1.5em;
      }
    }
  }
  