<app-header></app-header>

<ion-content>
  <div class="container">
    <input type="text" placeholder="Enter Your Number">
    <ion-button expand="block" color="primary">Confirm</ion-button>
  </div>
  <div class="box">
    <p>All Contacts</p>
    <div class="search">
      <input type="text" placeholder="Search">
      <ion-icon name="search"></ion-icon>
    </div>
  </div>
  <app-contacts-widget></app-contacts-widget>
  <app-contacts-widget></app-contacts-widget>
  <app-contacts-widget></app-contacts-widget>
  <app-contacts-widget></app-contacts-widget>
</ion-content>
