*{
    font-family: 'Poppins',sans-serif;
}
.container input{
    border: none;
    border: 1px solid #21BF64;
    padding: 08px 30px;
    border-radius: 10px;
    color: grey;
    text-align: center;
    display: block;
    margin: 15px auto;
}
ion-button{
    width: 80%;
    margin: auto;
    font-size: 17px;
}
.box p{
    margin-left: 7%;
    font-size: 20px;
    color: black;
}
.search{
    display:flex;
    justify-content: space-between;
    border: 1px solid #21BF64;
    margin: 20px;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
}
.search input{
    border: none;
    width: 80%;
   
}
ion-icon{
    width: 22px;
    height: 22px;
}