<app-header page="FASTag Recharge"></app-header>
<ion-content>
  <img
    [src]="'assets/fastag-operators/' + fastagService.operatorSelected.id + '.png'"
    #fastagImage
    (error)="fastagImage.src = 'assets/fastag-operators/default.png'"
  />
  <ion-text>
    <h1>{{ fastagService.operatorSelected.name }}</h1>
  </ion-text>
  <div id="details">
    <div class="detail">
      <h3>{{ fastagService.operatorSelected.displayname }}</h3>
      <p>{{ fastagService.canumber }}</p>
    </div>
    <div class="detail">
      <h3>Customer Name</h3>
      <p>{{ toTitleCase(fastagService.details.name) }}</p>
    </div>
    <div class="detail">
      <h3>Payable Amount</h3>
      <p>₹{{ fastagService.details.amount }}</p>
    </div>
    <div class="detail">
      <h3>Payment Due Date</h3>
      <p [innerHTML]="getDateName(fastagService.details.duedate)"></p>
    </div>
  </div>
  <ion-button expand="block" (click)="recharge()">Pay ₹{{ fastagService.details.amount }}</ion-button>
</ion-content>
