* {
  font-family: "Poppins", sans-serif;
}

ion-content {
  --padding: 1.5em;
  --padding-top: var(--padding);
  --padding-end: var(--padding);
  --padding-bottom: var(--padding);
  --padding-start: var(--padding);
  text-align: center;

  img {
    width: 30%;
  }

  h1 {
    font-size: 1.5rem;
  }

  #details {
    margin: 1.5em 0;

    .detail {
      text-align: left;

      &:not(:last-child) {
        margin-bottom: 1em;
      }

      h3 {
        font-size: 1.25rem;
        margin: 0;
      }

      p {
        font-size: 1.25rem;
        margin: 0;

        .danger-text {
          color: var(--ion-color-danger);
        }
      }
    }
  }
}
