<app-header pageName="Wallet" backUrl="../homepage"></app-header>
<ion-content color="light">
  <ion-card class="container">
    <div class="inner-container">
      <ion-label>{{dataProvider.wallet ? 'Total Assets' : 'No Wallet Found'}}</ion-label>
      <p id="amount" *ngIf="dataProvider.wallet">{{currency}}{{' '}}{{dataProvider.wallet.balance}}</p>
      <ion-button *ngIf="!dataProvider.wallet" (click)="createWallet()" expand="block" fill="solid" shape="round" color="light">
        Create Wallet
      </ion-button>
    </div>
    <ion-icon name="wallet"></ion-icon>
  </ion-card>
  <p id="amount">Transactions</p>
  <app-wallet-history *ngFor="let history of transactions" [service]="history.type" [statement]="history.description" [date]="history.date.toDate()" [money]="history.amount" [type]="history.type == 'aeps' ? 'credit' : 'debit'"></app-wallet-history>
  <ng-container *ngIf="transactions.length == 0">
    <img src="/assets/no-notification.svg" alt="No Transactions Found">
    <ion-text color="medium">
      <h2 class="ion-text-center">No Transactions Found</h2>
    </ion-text>
  </ng-container>
</ion-content>
