<app-header pageName="Wallet" backUrl="../homepage"></app-header>
<ion-content color="light">
  <ion-card class="container">
    <div class="inner-container">
      <ion-label>{{dataProvider.wallet ? 'Total Assets' : 'No Wallet Found'}}</ion-label>
      <p id="amount" *ngIf="dataProvider.wallet">{{currency}}{{' '}}{{dataProvider.wallet.balance | number:'1.2-2'}}</p>
      <ion-button *ngIf="!dataProvider.wallet" (click)="createWallet()" expand="block" fill="solid" shape="round" color="light">
        Create Wallet
      </ion-button>
    </div>
    <ion-icon name="wallet"></ion-icon>
  </ion-card>
  <p id="amount">Transactions</p>
  <ion-segment value="pizza" (ionChange)="switchTab=!switchTab">
    <ion-segment-button value="pizza">
      <ion-label>Transactions</ion-label>
    </ion-segment-button>
    <ion-segment-button value="pasta">
      <ion-label>Commissions</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ng-container *ngIf="!switchTab">
    <ng-container *ngFor="let history of transactions" >
      <app-wallet-history [service]="history.type" [statement]="clip(history.description,25)" [date]="history.date.toDate()" [money]="history.amount" [type]="history.type == 'aeps' ? 'credit' : 'debit'"></app-wallet-history>
    </ng-container>
    <ng-container *ngIf="transactions.length == 0">
      <img src="/assets/no-notification.svg" alt="No Transactions Found">
      <ion-text color="medium">
        <h2 class="ion-text-center">No Transactions Found</h2>
      </ion-text>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="switchTab">
    <ng-container *ngFor="let history of commissions" >
      <app-wallet-history [service]="history.type" [statement]="'Commission from '+ history.name " [date]="history.date.toDate()" [money]="history.exchangeAmount" type="credit"></app-wallet-history>
    </ng-container>
    <ng-container *ngIf="commissions.length == 0">
      <img src="/assets/no-notification.svg" alt="No Commissions Found">
      <ion-text color="medium">
        <h2 class="ion-text-center">No Commissions Found</h2>
      </ion-text>
    </ng-container>
  </ng-container>
</ion-content>
