<app-header></app-header>

<ion-content color="light">
  <ion-card>
    <ion-text>Cable TV/DTH</ion-text>
    <ion-grid>
      <ion-row>
        <div id="box">
          <ion-col>
            <p id="dth_name">Airtel Digital TV</p>
            <div id="operator_img">
              <img src="../../assets/airtel.svg" />
            </div>
          </ion-col>
          <ion-col>
            <p id="dth_name">Videocon D2h</p>
            <div id="operator_img">
              <img src="../../assets/videocon.svg" />
            </div>
          </ion-col>
          <ion-col>
            <p id="dth_name">Dish TV</p>
            <div id="operator_img">
              <img src="../../assets/dishTv.svg" />
            </div>
          </ion-col>
          <ion-col>
            <p id="dth_name">TATA Sky</p>
            <div id="operator_img">
              <img src="../../assets/tata_sky.svg" />
            </div>
          </ion-col>
        </div>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
