<app-header></app-header>
<ion-content color="light">
  <ion-card class="ion-margin">
    <ion-text>Fastag</ion-text>
    <p>Select your fast tag provider name</p>
    <app-bank-widget class="ion-text-center" routerLink="../payment-status"></app-bank-widget>
      <app-bank-widget class="ion-text-center" [name]="'ICICI bank'" [image]="'../../../assets/banks/icici.svg'" routerLink="../payment-status"></app-bank-widget>
      <app-bank-widget class="ion-text-center" [name]="'Bank of Boroda'" [image]="'../../../assets/banks/BOB.svg'" routerLink="../payment-status"></app-bank-widget>
      <app-bank-widget class="ion-text-center" [name]="'HDFC Bank - Fastag'" [image]="'../../../assets/banks/hdfc.svg'"></app-bank-widget>
      <app-bank-widget class="ion-text-center" [name]="'State bank of india'" [image]="'../../../assets/banks/sbi.svg'"></app-bank-widget>
      <app-bank-widget class="ion-text-center" [name]="'kanad bank'" [image]="'../../../assets/banks/icici.svg'"></app-bank-widget>
      <app-bank-widget class="ion-text-center" [name]="'HDFC Bank - Fastag'" [image]="'../../../assets/banks/hdfc.svg'"></app-bank-widget>
      <app-bank-widget class="ion-text-center" [name]="'State bank of india'" [image]="'../../../assets/banks/sbi.svg'"></app-bank-widget>
      <app-bank-widget class="ion-text-center" [name]="'kanad bank'" [image]="'../../../assets/banks/icici.svg'"></app-bank-widget>
  </ion-card>
</ion-content>
<app-footer></app-footer>
