<app-header> </app-header>
<ion-content>
  <section id="aeps_section">
    <ion-text id="Aeps"> AEPS Service </ion-text>
    <!-- <ion-list>
   <ion-item>
     <ion-input></ion-input>
   </ion-item>
   <ion-item>
    <ion-input></ion-input>
  </ion-item>
 </ion-list> -->
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-input id="inputs" placeholder="Your Aadhar No"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input id="inputs" placeholder="Your Mobile Number"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
         <ion-card>
           <p >Select Bank</p>
           <ion-icon name="chevron-down-outline"></ion-icon>
         </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input id="inputs" placeholder="Account Number"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button
            expand="block"
            class="send"
            fill="solid"
            size="large"
            color="success"
            
          >
            Submit
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>
</ion-content>
