<app-header pageName="DTH Recharge" [backButton]="true" backUrl="../homepage"></app-header>
<ion-content color="light">
  <div class="container">
    <ion-label class="tv">TV</ion-label>
    <form [formGroup]="dthForm" (ngSubmit)="submitDthForm()">
      <ion-item>
        <ion-label>Select Operator</ion-label>
        <ion-select formControlName="operator" value="Airteldth" multiple="false" placeholder="Select Operator">
          <ion-select-option [value]="item.id" *ngFor="let item of operators">{{item.name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating" type="number" class="font">Customer ID</ion-label>
        <ion-input formControlName="caNumber"></ion-input>
      </ion-item>
      <ion-button type="submit" expand="block" [disabled]="!dthForm.valid">Recharge</ion-button>
    </form>
  </div>
  <!-- <div class="container2">
    <p>Recent Payments</p>
    <p *ngFor="let payment of recentPayments">{{payment.operator}}</p>
  </div> -->
</ion-content>
