<app-header pageName="Payout" [backButton]="true" backUrl="./homepage"></app-header>

<ion-content>
  <div class="container" routerLink="express">
    <div class="text">
      <p>Express Payout</p>
    </div>
    <div class="image">
      <img src="/assets/expressPayout.png" alt="">
    </div>
  </div>
  <div class="container" routerLink="daily">
    <div class="text">
      <p>Daily Payout</p>
    </div>
    <div class="image">
      <img src="/assets/payout.png" alt="">
    </div>
  </div>
</ion-content>