<app-header [backButton]="true" pageName="Rewards" backUrl="../homepage"></app-header>
<ion-content color="light">
<ion-grid>
  <ion-card class="ion-padding">
    <ion-label>Rewards</ion-label>
    <ion-img src="../../assets/reward.svg" class="ion-margin-top"></ion-img>
  </ion-card>
  <ion-card class="ion-padding">
   <app-rewards-component *ngFor="let reward of rewards" [offer]="reward.offer" [image]="reward.Image" [expire]="reward.expire  " ></app-rewards-component>
   
  </ion-card>
</ion-grid>
</ion-content>

