section{
    padding:20px 0px;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    background-color: var( --ion-background-color);
}
#history-details {
    font-size: 20px;
    color: var(--ion-true-dark);
    font-weight: 900px;
    margin: 50px 30px;
  }
ion-card{
    font-size: 20px;
    color: var(--ion-true-dark);
    padding: 20px 20px;
    height: 70px;
    ion-text{
        display: flex;
        justify-content: space-between;
        align-items: center;
        ion-icon{
            font-size: 35px;
            
        }
        #sucess{
            color: var(--ion-color-primary);
        }
        #failure{
            color: var(--ion-danger);
        }
    }
}