<app-header></app-header>

<ion-content color="light">
  <div class="container">
    <ion-label class="tv">Tv</ion-label>

    <ion-list>
      <ion-item>
        <ion-label class="operator-select">Select Operator</ion-label>
        <ion-select value="dth_operator" interface="action-sheet">
          <ion-select-option value="id">Airtel </ion-select-option>
          <ion-select-option value="mobile">Dish Tv</ion-select-option>
          <ion-select-option value="Consumer_no">Videocon</ion-select-option>
          <ion-select-option value="Consumer_no">Tata Play</ion-select-option>
          <ion-select-option value="Consumer_no">Sky Plus</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating" class="font">Customer No</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating" class="font"> Amount to pack </ion-label>
        <ion-input></ion-input>
      </ion-item>
    </ion-list>
    <button routerLink="/payment-status" class="ion-margin">Recharge</button>
  </div>
  <div class="container2">
    <p>Recent Payments</p>
  </div>
</ion-content>
<app-footer></app-footer>
