*,.font{
    font-family: "Poppins",sans-serif;
}
.container{
    background-color: #fff;
    border-radius: 10px;
    margin: 20px 10px 0px;
    // padding: 10px 0px;
    p{
        font-size: 25px;
        font-weight: 600;
        margin-left: 5%;
        margin-top: 10px;
    }
    
}
.font{
    color: Grey;
}

button{
        background-color: #009970;
        color: #fff;
        padding: 15px;
        width: 75%;
        font-size: 18px;
        border-radius: 15px;
        display: block;
        margin: auto;
        margin-top: 25px;
}
.container2{
    background-color: #fff;
    border-radius: 10px;
    margin: 10px;
    padding: 10px 15px;
    p{
        font-size: 20px;
    }
}
// ion-item:nth-child(0){
//     padding-top: 20px;
// }
select{
    width:100%;
    margin: 20px auto;
    padding: 20px auto;
    border: none;
    outline: none;
    font-size: 18px;
    box-shadow: none;
    color: grey;
    option{
      width:100%;
    margin: auto;
    
    
    }
    }
    .operator-select{
    font-size: 18px;
    padding: 20px ;
    color: Grey; 
    margin-bottom: 10px;   
}