<app-header pageName="Bank Transfer" backUrl="../homepage"></app-header>
<ion-content>
  <section id="aeps_section">
    <ion-text id="Aeps"> Bank Transfer </ion-text>
    <!-- <ion-list>
   <ion-item>
     <ion-input></ion-input>
   </ion-item>
   <ion-item>
    <ion-input></ion-input>
  </ion-item>
 </ion-list> -->
    <ion-grid>
      <form [formGroup]="bankTransferForm" (ngSubmit)="submitAepsForm()">
      <ion-row>
        <ion-col>
          <ion-input  formControlName="accountNo"   id="inputs" placeholder="Account Number" type="password"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input  formControlName="confirmAccountNo"  id="inputs" placeholder="Confirm Account Number" type="password"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input  formControlName="accountName"  id="inputs" placeholder="Account  Name" type="string"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input  formControlName="issccode"  id="inputs" placeholder="IFSC code" type="number"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-input  formControlName="mobileno"  id="inputs" type="number"  placeholder="Mobile Number"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>amount</ion-label>
          <ion-input  formControlName="amount"  id="inputs" placeholder="₹" type="number"></ion-input>
        </ion-col>
      </ion-row>
      <!-- <ion-row>
        <ion-col>
  
          <ion-card>
            <ion-label>Select Bank</ion-label>
           <select>
             <option value="1" > HDFC </option>
             <option value="2" > SBI </option>
             <option value="3" > ICICI </option>
             

           </select>
          </ion-card>
        </ion-col>
      </ion-row> -->
    
      <ion-row>
        <ion-col>
          <ion-button
            expand="block"
            class="send"
            fill="solid"
            size="large"
            color="success"
          type="submit"
          [disabled]="!bankTransferForm.valid"

          >
            Pay
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
    </ion-grid>
  </section>
</ion-content>
<app-footer></app-footer>
