<app-header></app-header>

<ion-content color="light">
  <section>
    <ion-grid class="ion-text-center payment_details">
      <ion-row>
        <ion-col  class="ion-margin">
          <ion-text  color="success" class="status-text ion-margin">PAN Card Verified </ion-text>
          <!-- <ion-text  color="danger" class="status-text ion-margin">payment failure </ion-text> -->
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col >
          <ion-img class="ion-text-center" src="../../assets/sucess.svg"></ion-img>
          <!-- <ion-img class="ion-text-center" src="../../assets/failure.svg"></ion-img> -->
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p>Your PAN Card has been Verified Successfully</p>
          <!-- <p>  Your Bank is currently facing a server issue.  </p> -->
        
 
        </ion-col>
      </ion-row>
     
    </ion-grid>
   
    <ion-button class="sucess_btn" expand="block" routerLink="/transaction-status">NEXT <ion-icon name="arrow-forward-outline" slot="end"></ion-icon></ion-button>
  </section>
</ion-content>
