.container{
    padding: 20px 0px;
    margin-top: 10px;
    font-family: 'Poppins',sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid grey;
    p{
        font-size: 15px;
        font-weight: 500;
    }
}
.container img{
    height: 55px;
    width: 55px;
    border-radius: 50%;
}
.box{
    right: 0;
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    p{
        color: black;
    }
}
ion-item-option{
    border-radius: 15px;
    font-size: 25px;
    font-family: 'Poppins',sans-serif;
    padding: 10px 5px;
    margin: 10px;
}
.box1 img{
 transform: scale(0.6);
}
.inner-box{
    line-height: 10px;
}
