<app-header page="Pan Verifiction"> </app-header>
<ion-content>
  <section id="aeps_section">
    <ion-text id="Aeps">Add your  details</ion-text>
    <form [formGroup]="location" (ngSubmit)="verifying()">
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label class="operator-select">Select State</ion-label>
              <ion-select formControlName="state" interface="action-sheet">
                <ion-select-option *ngFor="let state of states">{{state.state}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input
              id="inputs"
              placeholder="City"
              type="text"
              formControlName="city"
            ></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input
              id="inputs"
              placeholder="Address"
              type="text"
              formControlName="address"
            ></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-input
              id="inputs"
              placeholder="Phone Number"
              min="0"
              maxlength="10"
              formControlName="phoneNumber"
            ></ion-input>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button
              expand="block"
              class="send"
              fill="solid"
              size="large"
              color="success"
              type="submit"
              [disabled]="!location.valid"
            >
              next <ion-icon slot="end" name="arrow-forward-outline"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </section>
</ion-content>
<app-footer></app-footer>