<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
    <ion-title>Signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h1>Signups are not allowed currently</h1>
  <p>Please contact <ion-text color="primary"><strong>+91 90262 69080</strong></ion-text></p>
  <ion-button (click)="openWhatsapp()" expand="block" fill="solid" shape="round">
    Open Whatsapp
  </ion-button>
</ion-content>
