.container{
    background-color: #009970;
    color: #fff;
    top: 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    height: 60px;
    padding: 20px;
    font-family: 'Poppins',sans-serif;
    font-size: 20px;
}
.container img{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    margin-top: 10px;
    cursor: pointer;
}
button{
    background-color: #009970;
    margin-top: 5%;
}
button img{
    border-radius: 50%;
}
.inner-container{
    width: 25%;
    display: flex;
    justify-content: space-between;
    img{
        margin-top: 03px;
        cursor: pointer;
        height: 40px;
        width: 40px;
    }
}
