<ion-header>
  <ion-toolbar>
    
    <!-- <ion-avatar slot="start"  routerLink="/profile"  >
      <img src="https://i.pravatar.cc/300" />
    </ion-avatar> -->
    <!-- <ion-title slot="start">SSS Pay</ion-title> -->
    <ion-back-button slot="start" defaultHref="/" (click)="goBack()"></ion-back-button>
    
    <ion-text class="ion-padding-start">{{page}}</ion-text>
    <ion-buttons slot="primary">
      <ion-icon name="qr-code-outline" routerLink="../qr-scan"></ion-icon>
      <ion-icon name="notifications" routerLink="../notifications"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
