<div class="container">
  <div class="box">
    <!-- <button>
      <ion-menu-button>
          <img src="assets/dummy1.jpg">
      </ion-menu-button>
    </button> -->
    <img src="assets/dummy1.jpg" alt="user">
    <!-- <ion-avatar>
      <img src="https://picsum.photos/200" alt="user">
    </ion-avatar> -->
  </div>
  <div class="inner-container">
    <img src="assets/qr1.png" routerLink="../qr-scan">
    <img src="assets/notificatons.png" alt=""  routerLink="../notifications">
  </div>
</div>

