<app-header></app-header>
<ion-content>
  <div class="container">
    <ion-searchbar showCancelButton="focus"></ion-searchbar>
    <input type="number" placeholder="Enter Number" id="enter-number">
    <p id="heading">Contacts</p>
    <app-mobile-recharge-widget></app-mobile-recharge-widget>
    <app-mobile-recharge-widget></app-mobile-recharge-widget>
    <app-mobile-recharge-widget></app-mobile-recharge-widget>
    <app-mobile-recharge-widget></app-mobile-recharge-widget>
    <app-mobile-recharge-widget></app-mobile-recharge-widget>
  </div>
</ion-content>
<app-footer></app-footer>