<app-header></app-header>
<ion-content>
  <div class="container">
    <p id="bank">{{bankname}}</p>
    <p class="normal">{{cardnumber}}</p>
    <p class="normal">{{amount}}</p>
    <p id="enter">Enter UPI PIN</p>
    <div class="box">
      <input type="number" maxlength="1">
      <input type="number" maxlength="1">
      <input type="number" maxlength="1">
      <input type="number" maxlength="1">
      <input type="number" maxlength="1">
    </div>
  </div>
</ion-content>
<app-footer></app-footer>