<ion-app>
  <ion-split-pane contentId="main-content">
    <!-- <ion-menu contentId="main-content" type="overlay">
      <ion-content id="container">
        <div id="photo-container">
          <img src="/assets/dummy.png" alt="">
        </div>
        <div id="options-container">
          <ion-list id="options">
            <ion-menu-toggle auto-hide="false" class="option">
              <ion-item routerDirection="root" >Account</ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false" class="option">
              <ion-item routerDirection="root">Transactions</ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false" class="option">
              <ion-item routerDirection="root">AEPS service</ion-item>
            </ion-menu-toggle>
            <ion-menu-toggle auto-hide="false" class="option">
              <ion-item routerDirection="root">Pay Bill</ion-item>
            </ion-menu-toggle>
          </ion-list>
          <ion-button color="primary" id="logout-button">Logout <ion-icon slot="end" name="person"></ion-icon>
          </ion-button>
        </div>
      </ion-content>
    </ion-menu> -->
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
