.card{
    margin: 0;
    height: fit-content;
    box-shadow: none;
    #history-details {
        font-size: 20px;
        color: var(--ion-true-dark);
        font-weight: 600px;
       font-weight: 600;
        font-family: var(--font-family);
        color: black;
        margin-bottom: 20px;
        
      }
     
}