<app-header pageName="Payment History" backUrl="../homepage"></app-header>
<ion-content>
  <ion-card class="ion-padding card">
    <ion-text id="history-details">Transaction History</ion-text>
    <app-history-component routerLink="detail/{{transaction.id}}" *ngFor="let transaction of transactions" [status]="transaction.title"
      [date]="transaction.date.toDate()" [receiver]="transaction.receiver" [paymentStatus]="transaction.status" [description]="transaction.description" [type]="transaction.type" [amount]="transaction.amount"></app-history-component>
  </ion-card>
</ion-content>
