<ion-content>
  <div class="container">
    <p>Mobile Recharge</p>
    <input type="text" placeholder="Enter Your Number">
    <button>Confirm</button>
  </div>
  <div class="container2">
    <p>All Contacts</p>
    <ion-searchbar showCancelButton="focus"></ion-searchbar>
    <app-contacts-widget></app-contacts-widget>
    <app-contacts-widget></app-contacts-widget>
    <app-contacts-widget></app-contacts-widget>
    <app-contacts-widget></app-contacts-widget>
    <app-contacts-widget></app-contacts-widget>
    <app-contacts-widget></app-contacts-widget>
  </div>
</ion-content>
