<app-header></app-header>
<ion-content color="light">
  <ion-card id="user_info" color="secondary">
    <ion-card color="secondary">
      <ion-label>{{name}}</ion-label>
      <ion-text>{{number}}</ion-text>
      <ion-text>{{email}}</ion-text>
    </ion-card>
    <ion-avatar>
      <ion-img src="https://i.pravatar.cc/300"> </ion-img>
    </ion-avatar>
  </ion-card>
  <ion-card id="balance_info">
    <div id="balace">
      <ion-text>{{available}}</ion-text>
      <ion-label>Current Balance</ion-label>
      <ion-text>{{highest}}</ion-text>
      <ion-label>Highest Balance</ion-label>
    </div>
    <div id="controller">
      <ion-button color="secondary"><ion-icon name="refresh-outline"></ion-icon><ion-text>Refresh</ion-text></ion-button>
      <ion-button color="secondary"><ion-icon name="share-social-outline"></ion-icon> <ion-text>Share</ion-text></ion-button>
      <ion-button color="secondary"><ion-icon name="qr-code-outline"></ion-icon><ion-text>QR Code</ion-text></ion-button>
    </div>
  </ion-card>
</ion-content>
<app-footer></app-footer>

<!-- <div class="container">
    <p>Savings Account</p>
  <div class="round-div">
    <ion-icon class="text-green" name="checkmark"></ion-icon>
  </div>
  <p>Available Balance</p>
  <p class="text-green">{{available}}</p>
  <p id="down">Highest Balance In Your Account <span>{{highest}}</span></p>
  </div> -->
