.noQr{
    opacity: 0.4;
    width: 200px;
    height:auto;
    display: block;
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
    filter: saturate(0%);
}
h6{
    text-align: center;
}