* {
    font-family: "Poppins", sans-serif;
  }
  
  ion-content {
    --padding: 1.5em;
    --padding-top: var(--padding);
    --padding-end: var(--padding);
    --padding-bottom: var(--padding);
    --padding-start: var(--padding);
  
    h1 {
      font-size: 1.5rem;
      margin: 0;
      margin-bottom: 1em;
    }
  }
  