<app-header></app-header>

<ion-content color="light">
  <ion-card class="ion-margin first_card">
    <ion-label> Invite and Earn </ion-label>
    <ion-card class="inivite-card">
      <ion-img src="../../assets/invite.svg"></ion-img>
      <ion-text>Invite your friends and earn rewards</ion-text>
      <ion-button>Invite</ion-button>
    </ion-card>
  </ion-card>

  <ion-card class="ion-margin container">
    <ion-label>Invite by</ion-label>
    <ion-card class="invite_option">
    <ion-img src="../../assets/whatsapp.svg"></ion-img>
    <ion-img src="../../assets/copy.svg"></ion-img>
    <ion-img src="../../assets/more.svg"></ion-img>
  </ion-card>
    <ion-text id="heading" color="primary"> Contacts</ion-text>
    <!-- <ion-searchbar  color="ion-text-color" placeholder="Search"></ion-searchbar> -->
    <app-mobile-recharge-widget></app-mobile-recharge-widget>
    <app-mobile-recharge-widget></app-mobile-recharge-widget>
    <app-mobile-recharge-widget></app-mobile-recharge-widget>
    <app-mobile-recharge-widget></app-mobile-recharge-widget>
    <app-mobile-recharge-widget></app-mobile-recharge-widget>
  </ion-card>
</ion-content>
<app-footer></app-footer>
