<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-text class="ion-padding-start">Creat Account</ion-text>
  </ion-toolbar>
</ion-header>
<ion-content color="light">
  <form [formGroup]="signupForm" (ngSubmit)="signup()">
  <section>
    <ion-grid>
      <ion-row id="form">
        <ion-col size="11" offset="0.5">
          <ion-label class="ion-margin">Full Name</ion-label>
          <ion-card>
            <ion-input formControlName="fullName">
            </ion-input>
          </ion-card>
          <ion-label class="ion-margin">Email </ion-label>
          <ion-card>
            <ion-input formControlName="email">
            </ion-input>
          </ion-card>
          <ion-label class="ion-margin">Password</ion-label>
          <ion-card>
            <ion-input formControlName="password" [type]="showPassword === false ? 'password' : 'text'" class="input-reverse ion-no-border">
              <button type="button" class="ion-float-end pwd-icon-box" (click)="togglePassword('p')">
                <ion-icon class="show-option" [hidden]="!showPassword" name="eye-off-outline"></ion-icon>
                <ion-icon class="hide-option" [hidden]="showPassword" name="eye-outline"></ion-icon>
              </button>
            </ion-input>
          </ion-card>
          <ion-label class="ion-margin">Confirm Password </ion-label>
          <ion-card>
            <ion-input formControlName="confirmPassword" [type]="showPassword === false ? 'password' : 'text'" class="input-reverse ion-no-border">
              <button type="button" class="ion-float-end pwd-icon-box" (click)="togglePassword('p')">
                <ion-icon class="show-option" [hidden]="!showPassword" name="eye-off-outline"></ion-icon>
                <ion-icon class="hide-option" [hidden]="showPassword" name="eye-outline"></ion-icon>
              </button>
            </ion-input>
          </ion-card>
          <ion-text class="ion-margin">at least 8 characters</ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button class="ion-margin sign_up" expand="block" fill="solid" size="large" color="primary" type="submit">
            Signup
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>
  </form>
</ion-content>