<app-header page="LPG "></app-header>
<ion-content color="light">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="select_LPG_gas">
          <ion-label>LPG Gas</ion-label>

          <ion-grid>
            <app-lpg-gas-components></app-lpg-gas-components>
            <app-lpg-gas-components
              name="Bharat"
              image="../../../assets/lpg-gas/bharat.svg"
            ></app-lpg-gas-components>
            <app-lpg-gas-components
              name="HP Gas"
              image="../../../assets/lpg-gas/hp.svg"
            ></app-lpg-gas-components>
          </ion-grid>
        </ion-card>
        <ion-card class="booking_method">
          <ion-label>Select booking method </ion-label>
          <ion-list>
            <ion-item>
              <ion-label>Book using</ion-label>
              <ion-select value="notifications" interface="action-sheet">
                <ion-select-option value="id">LPG ID</ion-select-option>
                <ion-select-option value="mobile"
                  >Mobile Number</ion-select-option
                >
                <ion-select-option value="Consumer_no"
                  >Consumer Number</ion-select-option
                >
              </ion-select>
            </ion-item>
            <ion-item>
              <ion-label position="stacked"
                >Registered Contact Number</ion-label
              >
              <ion-input placeholder="" autofocus=""></ion-input>
            </ion-item>
          </ion-list>

          <ion-button
            expand="block"
            type="number"
            class="ion-margin"
            routerLink="../payment-status"
            >confirm</ion-button
          >
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<app-footer></app-footer>
