ion-col {
  .select_LPG_gas {
    padding: 20px 15px;
    font-family: var(font-family);
    border-radius: 8px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    ion-label {
      font-size: 22px;
      font-weight: 500;
      color: black;
      padding: 13px;
    }
    ion-grid {
      margin-top: 20px;
  
    }
  }
}
.booking_method {
  padding: 15px 0px;
  font-family: var(font-family);
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  ion-label {
    font-size: 18px;
    font-weight: 500;
    color: black;
    padding: 13px;
  }
  ion-item {
    margin: 20px 0px;
    padding-right: 10px;
    color: black;

    ion-label {
      color: rgba(0, 0, 0, 0.714);
      padding: 0;
      margin: 0;
      margin-top: 20px;
    }
    ion-input {
      margin: 10px auto;
    }
  }
}
