<app-header></app-header>
<ion-content>
  <div class="container">
    <div class="inner-container">
      <p>Total Assets</p>
      <p id="amount">{{amount}}</p>
    </div>
    <ion-icon name="refresh-circle"></ion-icon>
  </div>
  <p id="amount">Transactions</p>
  <app-transaction-widget></app-transaction-widget>
  <app-transaction-widget></app-transaction-widget>
  <app-transaction-widget></app-transaction-widget>
  <app-transaction-widget></app-transaction-widget>
  <app-transaction-widget></app-transaction-widget>
</ion-content>
<app-footer></app-footer>