<app-header [backButton]="true" pageName="Recharge" backUrl="../homepage"></app-header>
<ion-content color="light">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="ion-padding">
          <form [formGroup]="mobileRechargeForm" (ngSubmit)="getPlans()">
            <div class="row">
              <ion-item>
                <ion-label position="floating">Phone Number</ion-label>
                <ion-input type="number" placeholder="Enter Number" (ionChange)="getCircleAndOperator($event)" [debounce]="2000" formControlName="mobileNumber" ></ion-input>
              </ion-item>
              <ion-spinner name="crescent" *ngIf="searchingOperator" color="primary"></ion-spinner>
            </div>
            <ng-container>
              <ion-item>
                <ion-label>Operator</ion-label>
                <ion-select formControlName="operator">
                  <ion-select-option [value]="operator" *ngFor="let operator of operators">{{operator.name}}</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-item>
                <ion-label>Circle</ion-label>
                <ion-select formControlName="circle">
                  <ion-select-option [value]="circle" *ngFor="let circle of circles">{{circle}}</ion-select-option>
                </ion-select>
              </ion-item>
              <ion-button type="submit" expand="block" [disabled]="!mobileRechargeForm.valid">Get Plans</ion-button>
            </ng-container>
          </form>
        </ion-card>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col>
        <ion-card>
          <div class="container">
            <p id="heading">All Contacts</p>
            <ion-searchbar color="ion-text-color" [(ngModel)]="searchVall" placeholder="Search"></ion-searchbar>
            <app-mobile-recharge-widget *ngFor="let contact of contacts" [image]="contact.photoThumbnail"
              [number]="contact.phoneNumbers" [name]="contact.displayName"
              (rechargeNext)="getCircleAndOperator($event)"></app-mobile-recharge-widget>
          </div>
        </ion-card>
      </ion-col>
    </ion-row> -->
  </ion-grid>
</ion-content>