<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-text class="ion-padding-start">Profile</ion-text>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section>
    <ion-grid>
      <ion-row>
        <ion-col size="12">
          <ion-card id="profile-card">
            <ion-avatar>
              <ion-img [src]="dataProvider.userData?.photoURL" > </ion-img>
            </ion-avatar>
            <div class="profile_desc">
              <b>{{dataProvider.userData.displayName}}</b>
              <span>{{dataProvider.userData.phoneNumber}}</span>
              <ion-text>{{dataProvider.userData?.email}}</ion-text>
            </div>
            <div>
              <button class="editbutton">
                <ion-icon name="pencil-outline"></ion-icon>
              </button>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-card class="setting-card">
            <ion-text class="setting">Settings</ion-text>
            <div id="item-list">
              <div class="item">
                <ion-text>Autopay Settings</ion-text>
                <ion-icon name="chevron-forward-outline"></ion-icon>
              </div>
              <div class="item">
                <ion-text>UPI Settings</ion-text>
                <ion-icon name="chevron-forward-outline"></ion-icon>
              </div>
              <div class="item">
                <ion-text>Set Reminders</ion-text>
                <ion-icon name="chevron-forward-outline"></ion-icon>
              </div>
            </div>
          </ion-card>
          
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-card class="setting-card " routerLink="../languages">
            <div class="card">
              <ion-text>Languages</ion-text>
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </div>
          </ion-card>
          
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-card class="setting-card">
            <ion-text class="setting">Security</ion-text>
            <div id="item-list">
              <div class="item">
                <ion-text>Set Screen Lock</ion-text>
                <ion-icon name="chevron-forward-outline"></ion-icon>
              </div>
              <div class="item">
                <ion-text>Blocked Contacts</ion-text>
                <ion-icon name="chevron-forward-outline"></ion-icon>
              </div>
              
            </div>
          </ion-card>
          
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-card class="setting-card ">
            <div class="card">
              <ion-text>Help</ion-text>
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </div>
          </ion-card>
          
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-card class="setting-card ">
            <div class="card">
              <ion-text>Privacy Police & Trems </ion-text>
              <ion-icon name="chevron-forward-outline"></ion-icon>
            </div>
          </ion-card>
          
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-card class="setting-card ">
            <div class="card Logout" >
              <ion-button fill="clear" color="danger" class="Logout" (click)="authService.logout()">Logout</ion-button>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </section>
</ion-content>
