.container{
    padding: 15px 0px;
    margin-top: 10px;
    font-family: 'Poppins',sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid grey;
    p{
        font-size: 15px;
        font-weight: 500;
    }
}
.container img{
    height: 55px;
    width: 55px;
    border-radius: 50%;
}
.box{
    right: 0;
    display: flex;
    width: 80%;
    justify-content:flex-start  ;
    gap:15px;
    padding-left: 10px;
    align-items: center;
    
    p{
        color: black;
    }
}
ion-item-option{
    border-radius: 15px;
    font-size: 25px;
    font-family: 'Poppins',sans-serif;
    padding: 10px 5px;
    margin: 10px;
}

.inner-box{
    line-height: 10px;
}

ion-avatar {
ion-img{
    padding: 18px;
}
}