<app-header></app-header>

<ion-content>
  <ion-grid>
    <ion-row class="ion-text-center">
      <ion-col >
          <ion-card color="success">
            <ion-avatar class="ion-margin">
              <ion-img src="https://i.pravatar.cc/300"></ion-img>
            </ion-avatar>
            <ion-text>₹7,588</ion-text>
            <p>Paid to</p>
            <ion-text>John doe</ion-text>
          </ion-card>
        <!-- <ion-card color="danger">
          <ion-avatar class="ion-margin">
            <ion-img src="https://i.pravatar.cc/300"></ion-img>
          </ion-avatar>
          <ion-text>₹7,588</ion-text>
          <p>Paid to</p>
          <ion-text>John doe</ion-text>
        </ion-card> -->
      </ion-col>
    </ion-row>
    <ion-row>
     
          <ion-col >
          <ion-card class="transaction-card" >
            <div>
              <ion-text class="transaction_id">UPI Transaction ID</ion-text>
              <p class="details">09876565656</p>
            </div>
            <div>
              <p class="details">to</p>
            </div>
            <div>
              <ion-text class="transaction_id">UPI Transaction ID</ion-text>
              <p class="details">09876565656</p>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button class="ion-text-center ion-margin" expand="block"  routerLink="/"> Done</ion-button>
        </ion-col>
      </ion-row>
  
  </ion-grid>
</ion-content>
<!-- <app-footer></app-footer> -->
