<ion-content class="login-screen">
  <ion-grid>
    <ion-row class="main-row">
      <ion-col size="3"></ion-col>
      <ion-col size="6">
          <ion-img src="assets/images/logo.png" class="logo"></ion-img>
      </ion-col>
      <ion-col size="3"></ion-col>
      <ion-col size="12" class="class="ion-padding>
        <form >
          <ion-item class="input-wrap ion-margin-bottom">
            <ion-input [(ngModel)]="emailValue" type="email" class="ion-no-border" autocomplete="off" placeholder="Email" autocorrect="off" autofocus="true"  name="email" pattern="email"></ion-input>
            <ion-note color="danger">Please Enter Email</ion-note>
          </ion-item>
            <ion-button (click)="submitForgetPWD()" class="" expand="block" fill="solid" size="large" shape="round" color="primary">
             Get Link
            </ion-button>
        </form>
      </ion-col>
      <ion-col size="2"></ion-col>
      <ion-col size="4">
        <ion-img src="assets/icon/google.svg" class="social-media-svg ion-padding-horizontal"></ion-img>
      </ion-col>
      <ion-col size="4">
        <ion-img src="assets/icon/facebook.svg" class="social-media-svg ion-padding-horizontal"></ion-img>
      </ion-col>
      <ion-col size="2"></ion-col>
      <ion-col size="12">
        <ion-text class="ion-text-center">
          <h6>Already have an account ? <span class="text-light-green" routerLink="/login">Login Now</span></h6>
        </ion-text>
        <ion-text class="ion-text-center">
          <h6>Don't have an account ? <span class="text-light-green" routerLink="/signup">Signup Now</span></h6>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
