
#email{
  color: var(--ion-true-dark);
  font-size: 12px;
  font-family: var(--font-family);
  font-weight: 900px;
  line-height: 1.5;
  position: relative;
}
.resetPAss{
  color:white;
}
strong{
  font-size: 20px;
  font-weight: 400;
}
.ion-margin{
  margin: 40px 8px;

}
.ion-padding{
  padding: 2px;
}
ion-label{
  color: var(--ion-color-primary);
  font-size: 18px;
  font-weight: 600px
}
ion-input{
  border-bottom: 2px solid var(--ion-color-primary);
  color:var(--ion-true-dark); 
  font-size: 18px;
  :-moz-placeholder{
    color:var(--ion-color-primary); 
  }
}
ion-button{
  width: 287px;
  height: 49px;
  margin: auto;
  font-size: 18px;
  --border-radius: 15px;
}
// .input-wrap {
//   border: 2px solid #21bf64;
//   border-radius: 30px;
// }
// .input-reverse {
//   display: flex;
//   flex-direction: row-reverse;
// }
// --ion-padding-vertical{
//   padding: 25px 0;
// }
// .main-row {
//   min-height: 100vh;
//   height: 100%;
//   overflow: scroll;
//   padding: 50px 30px;
// }
// .pwd-icon-box{
//   line-height: 25px;
//   font-size: 22px;
//   height: 100%;
//   display: flex;
// }
// ion-input{
//   --placeholder-color	: #000;
//   --placeholder-opacity	: 1
// }
