<ion-content class="login-screen">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-buttons slot="start" class="ion-margin-end">
        <ion-back-button
          default-href="home"
          routerLink="/login"
        ></ion-back-button>
      </ion-buttons>
      <ion-text class="ion-text-center">Reset password</ion-text>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-card class="ion-padding">
      <ion-row>
        <ion-col>
          <p class="ion-text-center ion-margin" >Check your mail</p>
          <ion-img
            class="ion-text-center ion-margin"
            src="../../assets/mail.svg"
          ></ion-img>

          <ion-button class="ion-text-center ion-margin " routerLink="/reset-password">Open email app</ion-button>
          <ion-text class="ion-margin" slot="end">Skip</ion-text>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-grid>
      <ion-row class="ion-text-center">
        <ion-col>
          <p id="email">
            Enter the email associated with your account and we,ll send an email
            with instructions to reset your password.
          </p>
        </ion-col>
      </ion-row>
      <ion-row class="ion-margin">
        <ion-col>
          <ion-label >Email address</ion-label>

          <ion-input></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-margin">
          <ion-button
            expand="block"
            class="send"
            fill="solid"
            size="large"
            color="success"
            (click)="popup()"
          >
            Send
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-content>

<!-- <ion-content class="login-screen">
  <ion-grid>
    <ion-row class="main-row">
      <ion-col size="3"></ion-col>
      <ion-col size="6">
          <ion-img src="assets/images/logo.png" class="logo"></ion-img>
      </ion-col>
      <ion-col size="3"></ion-col>
      <ion-col size="12" class="class="ion-padding>
        <form >
          <ion-item class="input-wrap ion-margin-bottom">
            <ion-input [(ngModel)]="emailValue" type="email" class="ion-no-border" autocomplete="off" placeholder="Email" autocorrect="off" autofocus="true"  name="email" pattern="email"></ion-input>
            <ion-note color="danger">Please Enter Email</ion-note>
          </ion-item>
            <ion-button (click)="submitForgetPWD()" class="" expand="block" fill="solid" size="large" shape="round" color="primary">
             Get Link
            </ion-button>
        </form>
      </ion-col>
      <ion-col size="2"></ion-col>
      <ion-col size="4">
        <ion-img src="assets/icon/google.svg" class="social-media-svg ion-padding-horizontal"></ion-img>
      </ion-col>
      <ion-col size="4">
        <ion-img src="assets/icon/facebook.svg" class="social-media-svg ion-padding-horizontal"></ion-img>
      </ion-col>
      <ion-col size="2"></ion-col>
      <ion-col size="12">
        <ion-text class="ion-text-center">
          <h6>Already have an account ? <span class="text-light-green" routerLink="/login">Login Now</span></h6>
        </ion-text>
        <ion-text class="ion-text-center">
          <h6>Don't have an account ? <span class="text-light-green" routerLink="/signup">Signup Now</span></h6>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->
