
#email{
  color: var(--ion-true-dark);
  font-size: 12px;
  font-family: var(--font-family);
  font-weight: 900px;
  line-height: 1.5;
  position: relative;
}
ion-card{
  position: absolute;
  z-index: 999;
  top:100px;
  left: 0px;
  right: 0px;
  margin-top: 0px;
  margin-bottom: 0px  ;
  display: block;
  height: 350px;
  width: 320px;
  margin: auto;
  background-color: var( --ion-card-color);
  p{
    font-size: 20px;
    color: var(--ion-true-dark);
  }
  ion-img{
    height: 55px;
    width: 40px;
    margin: auto;
  }
  ion-text{
    color: var(--ion-text-color-1);
  }
  
}
.ion-margin{
  margin: 40px 8px;

}
.ion-padding{
  padding: 2px;
}
ion-label{
  color: var(--ion-btn-color);
  font-size: 18px;
  font-weight: 600px
}
ion-input{
  border-bottom: 2px solid var(--ion-btn-color);
  color:var(--ion-true-dark); 
  font-size: 18px;
  :-moz-placeholder{
    color:var(--ion-btn-color); 
  }
}
ion-button{
  width: 287px;
  height: 49px;
  margin: auto;
  font-size: 18px;
  --border-radius: 15px;
}
// .input-wrap {
//   border: 2px solid #21bf64;
//   border-radius: 30px;
// }
// .input-reverse {
//   display: flex;
//   flex-direction: row-reverse;
// }
// --ion-padding-vertical{
//   padding: 25px 0;
// }
// .main-row {
//   min-height: 100vh;
//   height: 100%;
//   overflow: scroll;
//   padding: 50px 30px;
// }
// .pwd-icon-box{
//   line-height: 25px;
//   font-size: 22px;
//   height: 100%;
//   display: flex;
// }
// ion-input{
//   --placeholder-color	: #000;
//   --placeholder-opacity	: 1
// }
