<ion-content class="login-screen">
  <ion-header>
    <ion-toolbar color="secondary">
      <ion-buttons slot="start" class="ion-margin-end">
        <ion-back-button
          default-href="home"
          routerLink="/login"
        ></ion-back-button>
      </ion-buttons>
      <strong class="ion-text-center resetPAss">Reset password</strong>
    </ion-toolbar>
  </ion-header>
  <jw-modal id="modal-1">
    <style>
      #modal-1 {
        margin: auto;
        background-color: #ebf7f4;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
      .card {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
      p {
        font-size: 20px;
        color: var(--ion-true-dark);
      }
      img {
        height: 60px;
        width: 60px;
        background-color: rgb(255, 255, 255);
        padding: 10px;
        box-sizing: border-box;
        border-radius: 10px;
        text-align: right;
      }
      ion-button {
        width: 300px;
      }
      ion-text {
        color: var(--ion-text-color-1);
        text-align: right;
        align-self: right;
        margin-left: 250px;
      }
    </style>

    <div class="card">
      <p class="ion-text-center ion-margin">Check your mail</p>
      <img class="ion-text-center" src="../../assets/mail.svg" />

      <ion-button
        class="ion-text-center ion-margin"
        routerLink="/reset-password"
        (click)="modalSevices.close('modal-1');"
        >Open email app</ion-button
      >
      <ion-text class="i" slot="end" (click)="modalSevices.close('modal-1');"
        >Skip</ion-text
      >
    </div>
  </jw-modal>
  <ion-content>
    <ion-grid>
      <ion-row class="ion-text-center">
        <ion-col>
          <p id="email">
            Enter the email associated with your account and we,ll send an email
            with instructions to reset your password.
          </p>
        </ion-col>
      </ion-row>
      <ion-row class="ion-margin">
        <ion-col>
          <ion-label>Email address</ion-label>

          <ion-input></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-margin">
          <ion-button
            expand="block"
            class="send"
            fill="solid"
            size="large"
            color="success"
            (click)="modalSevices.open('modal-1');"
          >
            Send
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-content>

<!-- <ion-content class="login-screen">
  <ion-grid>
    <ion-row class="main-row">
      <ion-col size="3"></ion-col>
      <ion-col size="6">
          <ion-img src="assets/images/logo.png" class="logo"></ion-img>
      </ion-col>
      <ion-col size="3"></ion-col>
      <ion-col size="12" class="class="ion-padding>
        <form >
          <ion-item class="input-wrap ion-margin-bottom">
            <ion-input [(ngModel)]="emailValue" type="email" class="ion-no-border" autocomplete="off" placeholder="Email" autocorrect="off" autofocus="true"  name="email" pattern="email"></ion-input>
            <ion-note color="danger">Please Enter Email</ion-note>
          </ion-item>
            <ion-button (click)="submitForgetPWD()" class="" expand="block" fill="solid" size="large" shape="round" color="primary">
             Get Link
            </ion-button>
        </form>
      </ion-col>
      <ion-col size="2"></ion-col>
      <ion-col size="4">
        <ion-img src="assets/icon/google.svg" class="social-media-svg ion-padding-horizontal"></ion-img>
      </ion-col>
      <ion-col size="4">
        <ion-img src="assets/icon/facebook.svg" class="social-media-svg ion-padding-horizontal"></ion-img>
      </ion-col>
      <ion-col size="2"></ion-col>
      <ion-col size="12">
        <ion-text class="ion-text-center">
          <h6>Already have an account ? <span class="text-light-green" routerLink="/login">Login Now</span></h6>
        </ion-text>
        <ion-text class="ion-text-center">
          <h6>Don't have an account ? <span class="text-light-green" routerLink="/signup">Signup Now</span></h6>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content> -->
