<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="stepOne" *ngIf="step=='one'">
    <ion-item>
      <ion-label position="floating">Enter your email or phone number <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required [(ngModel)]="emailOrPhone"></ion-input>
    </ion-item>
    <ion-button (click)="submit()" expand="block" fill="solid" shape="round">
      Submit
    </ion-button>
  </div>
  <!-- <div class="stepTwo" *ngIf="step=='two'">
    <ion-button (click)="sendResetEmailLink()" *ngIf="this.dataProvider.userData?.email" expand="block" fill="solid" shape="round">
      Reset By Email
    </ion-button>
    <ion-button (click)="sendResetOtp()" *ngIf="this.dataProvider.userData?.phoneNumber" expand="block" fill="solid" shape="round">
      Reset By Phone
    </ion-button>
    <p>You cannot reset your password by your own. Please ask an admin to reset your password.</p>
  </div> -->
  <div class="actions" *ngIf="step=='three'">
    <ion-item>
      <ion-label>OTP <ion-text color="danger">*</ion-text></ion-label>
      <ion-input required min="6" max="6" [(ngModel)]="currentOtp"></ion-input>
    </ion-item>
    <ion-button (click)="verifyOtp()" expand="block" fill="clear" shape="round">
      Verify OTP
    </ion-button>
  </div>
  <div class="actions" *ngIf="step=='four'">
    <ion-item>
      <ion-label>Password <ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="password" [(ngModel)]="password" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Confirm Password <ion-text color="danger">*</ion-text></ion-label>
      <ion-input type="password" [(ngModel)]="confirmPassword" required></ion-input>
    </ion-item>
    <ion-button (click)="resetPassword()" expand="block" fill="solid" shape="round">
      Reset Password
    </ion-button>
  </div>
</ion-content>