<ion-content class="login-screen">
  <ion-content>
    <ion-grid>
      <ion-row class="ion-text-center">
        <ion-col>
          <p id="email">
            Enter the email associated with your account and we,ll send an email
            with instructions to reset your password.
          </p>
        </ion-col>
      </ion-row>
      <ion-row class="ion-margin">
        <ion-col>
          <ion-label>Email address</ion-label>

          <ion-input></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="ion-margin">
          <ion-button expand="block" class="send" fill="solid" size="large" (click)="presentModal()">
            Send
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-content>