
  <div class="container">
    <div class="box" routerLink="../homepage">
      <ion-icon name="home"></ion-icon>
      <p>Home</p>
    </div>
    <div class="box" routerLink="../wallet">
      <ion-icon name="wallet"></ion-icon>
      <p>Wallet</p>
    </div>
    <div class="box"  routerLink="../profile">
      <ion-icon name="person"></ion-icon>
      <p>Profile</p>
    </div>
    <div class="box" routerLink="../history">
      <ion-icon name="time"></ion-icon>
      <p>History</p>
    </div>
  </div>